<!DOCTYPE html>
<html>
<head>
	<title>Welcome I am Percy</title>
</head>
<body>
<!-- Site Header -->
<h1>Hi I'm percey. Welcome to my blog</h1>


<!-- BLog Post -->
<h2>How To Win Friends</h2>
<p>Have you ever felt lonley and wantd more friends? In this blgo psot I will teafch you how to win all the friends you ever want. </p>

<!-- Like And Comment -->
<button>Like</button>

<form>
	<input placeholder="Type Your username homie" type="text" name=""><br>
	<textarea placeholder="What's on your mind?"></textarea>
</form>


</body>
</html>